<script type="text/javascript">
    function cambiarValor(valor) {
        document.frmMenu.strAccion.value = valor;
    }
    function optAceptar(valor) {
        document.frmSoftware.opBaja.value = valor;
    }
</script>	
<form name="frmMenu" id="frmMenu" method="GET">
    <input type="hidden" id="strAccion" name="strAccion" value="">
</form>
<div id="encabezado">
    <img id="logo" src="webroot/images/Logotipo.png" alt="" />
    <div id="menu">
        <ul>
            <li><a href="#">CURRICULUM</a>
                <ul>
                    <li><a href='#' onclick="ajax('controllers/gestionarCurriculum/CtlCurric.php', 1, 'vacio', 'contenido')">Administrar Curriculum</a></li>
                    <li><a href='#'>Ver Curriculum</a></li>
                    <li><a href='#'>Dar de Alta</a></li>
                    <li><a href='#'>Modificar</a></li>
                    <li><a href='#'>Dar de baja</a></li>
                </ul>
            </li>
            <li class="active"><a href="#" >PROFESORES</a>
                <ul>
                    <li><a href='#'>Buscar</a></li>
                    <li><a href='#'>Registrar</a></li>
                    <li><a href='#'>Listar</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>