<script type="text/javascript">
    function cambiarValor(valor) {
        document.frmMenu.strAccion.value = valor;
    }
    function optAceptar(valor) {
        document.frmSoftware.opBaja.value = valor;
    }
</script>	
<form name="frmMenu" id="frmMenu" method="GET">
    <input type="hidden" id="strAccion" name="strAccion" value="">
</form>
<div id="encabezado">
    <img id="logo" src="webroot/images/Logotipo.png" alt="" />
    <div id="menu">
        <ul>
            <li><a href="#">Administrar CURRICULUM</a>
                <ul>
                    <li><a href='#' onclick="ajax('controllers/gestionarCurriculum/CtlCurriculum.php', 'infoAcademicaListar', 'vacio', 'contenido')">Informaci&oacute;n Acad&eacute;mica </a></li>
                    <li><a href='#' onclick="ajax('controllers/gestionarCurriculum/CtlCurriculum.php', 'certi_listar', 'vacio', 'contenido')">Mis certificaciones</a></li>
                    <li><a href='#' onclick="ajax('controllers/gestionarCurriculum/CtlCurriculum.php', 'inLabListar', 'vacio', 'contenido')">Mi Informaci&oacute;n Laboral</a></li>
                    <li><a href='#' onclick="ajax('controllers/gestionarCurriculum/CtlCurriculum.php', 'objProf', 'vacio', 'contenido')">Mi Objetivo Laboral</a></li>
                    <li><a href='#' onclick="ajax('controllers/gestionarCurriculum/CtlCurriculum.php', 'Cursos', 'vacio', 'contenido')">Mis Cursos</a></li>
                    <li><a href='#' onclick="ajax('controllers/gestionarCurriculum/CtlCurriculum.php', 'Idiomas', 'vacio', 'contenido')">Mis Idiomas</a></li>
                    <li><a href='#' onclick="ajax('controllers/gestionarCurriculum/CtlCurriculum.php', 'ConsultarCurriculum', 'vacio', 'contenido')">Consultar Curriculum</a></li>
                    <li><a href='#' onclick="ajax('controllers/gestionarCurriculum/CtlCurriculum.php', 'valiConst', 'vacio', 'contenido')">Validar Constancias</a></li>
                    <li><a href='#' onclick="ajax('controllers/gestionarCurriculum/CtlCurriculum.php', 'VerCurriculumCompleto', 'vacio', 'contenido')">Ver Curriculum</a></li>
                    
                </ul>
            </li>
            <li><a href="#">Gestionar ALUMNO</a>
                <ul>
                    <li><a href='#' onclick="ajax('controllers/gestionarAlumno/CtlAlumno.php', 'carAlumMenu', 'vacio', 'contenido')">Ingresar Archivo</a></li>
                    <li><a href='#' onclick="ajax('controllers/gestionarAlumno/CtlAlumno.php', 'alumno_registrar', 'vacio', 'contenido')">Dar de alta un alumno</a></li>
                    <li><a href='#' onclick="ajax('controllers/gestionarAlumno/CtlAlumno.php', 'actAlumno', 'vacio', 'contenido')">Actualizar Datos Alumno</a></li>
                </ul>
            </li>
            <li><a href="#">Gestionar USUARIO</a>
                <ul>
                    <li><a href='#' onclick="ajax('controllers/gestionarUsuario/CtlUsuario.php', 'agregar_usuario', 'vacio', 'contenido')">Agregar usuario</a></li>
                    <li><a href='#' onclick="ajax('controllers/gestionarUsuario/CtlUsuario.php', 'consUsuario', 'vacio', 'contenido')">Consultar usuario</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>