<script type="text/javascript">
    function cambiarValor(valor) {
        document.frmMenu.strAccion.value = valor;
    }
    function optAceptar(valor) {
        document.frmSoftware.opBaja.value = valor;
    }
</script>	
<form name="frmMenu" id="frmMenu" method="GET">
    <input type="hidden" id="strAccion" name="strAccion" value="">
</form>
<div id="encabezado">
    <img id="logo" src="webroot/images/Logotipo.png" alt="" />
    <div id="menu">
        <ul>
            <li><a href="#">Administrar CURRICULUM</a>
                <ul>
                    <li><a href='#' onclick="ajax('controllers/gestionarCurriculum/CtlCurriculum.php', 'infoAcademica', 'vacio', 'contenido')">Mi Informacion Academica</a></li>
                    <li><a href='#' onclick="ajax('controllers/gestionarCurriculum/CtlCurriculum.php', 'certi_listar', 'vacio', 'contenido')">Mis certificaciones</a></li>
                    <li><a href='#' onclick="ajax('controllers/gestionarCurriculum/CtlCurriculum.php', 'inLabListar', 'vacio', 'contenido')">Mi Información Laboral</a></li>
                    <li><a href='#' onclick="ajax('controllers/gestionarCurriculum/CtlCurriculum.php', 'objProf', 'vacio', 'contenido')">Mi Objetivo Laboral</a></li>
                    <li><a href='#' onclick="ajax('controllers/gestionarCurriculum/CtlCurriculum.php', 'Cursos', 'vacio', 'contenido')">Mis Cursos</a></li>
                    <li><a href='#' onclick="ajax('controllers/gestionarCurriculum/CtlCurriculum.php', 'Idiomas', 'vacio', 'contenido')">Mis Idiomas</a></li>
                    <li><a href='#' onclick="ajax('controllers/gestionarCurriculum/CtlCurriculum.php', 'valiConst', 'vacio', 'contenido')">Validar Constancias</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>